<footer class="bg-gray-950 text-gray-400 mt-20">
  <div class="max-w-7xl mx-auto px-6 py-10 text-center flex flex-col items-center">

    <h3 class="text-2xl font-bold text-[#69c7c7] drop-shadow-[1.5px_1.5px_0_#7836cf]">
      Fabian Haslinger
    </h3>

    <a 
      href="mailto:fabian.haslinger@htl-saalfelden.at" 
      class="mt-2 text-gray-300 hover:text-[#7d2dac] transition"
    >
      fabian.haslinger@htl-saalfelden.at
    </a>

    <p class="mt-2 text-sm text-gray-500">
      Informatik · HTL Saalfelden · 5AHINF
    </p>

  </div>
</footer>
